---
---
/* The dashes above are required! */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Style+Script&display=swap');

body {
  background-color: {{ site.colors.beige }};
  color: {{ site.colors.text }};
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
}

/* Styled Logo */
.logo-sci {
  font-family: 'Style Script', cursive;
  font-weight: 300;
  color: {{ site.colors.emerald }};
  font-size: 3rem;
}

.logo-tech {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: {{ site.colors.gold }};
  font-size: 2.5rem;
}
